@font-family-sans: 'Source Sans Pro',
sans-serif;
@font-family-serif: 'Source Serif Pro',
serif;
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
    font-family: @font-family-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font-family-serif;
}

.sr-only {
    position: absolute;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0 !important;
}

.gw-header {
    margin-left: 10em;
}

.gw-main {
    margin-left: 10em;
}

.gw-center {
    display: flex;
    justify-content: center;
}

.pure-menu-link.active {
    background-color: #0078e7;
    color: #fff;
}

.gw-description-list {
    display: flex;
    flex-flow: row wrap;
    width: 26em;
    dt,
    dd {
        margin: 0;
        padding: 0;
    }
    dt {
        flex: 0 0 10em;
        margin-right: 1em;
        text-align: right;
    }
    dd {
        flex: 0 0 15em;
    }
}